@font-face {
    font-family: Work Sans;
    src: url('../../fonts/work-sans/WorkSans-Regular.ttf');
}

@font-face {
    font-family: Work Sans Bold;
    src: url('../../fonts/work-sans/WorkSans-Bold.ttf');
}