// Colors
$bright-green: #1dbf73;
$bright-gray: #74767e;
$white: #fff;
$dark-gray: #404145;
$black: #222325;
$yellow: #ffbe5b;
$border-gray: #efeff0;
$review-gray: #b5b6ba;
$footer-line-gray: #e4e5e7;
$footer-logo-gray: #62646a;
$header-input-gray: #c5c6c9;
$clear-all-gray: #95979d;
$pending: #da8c33;
$in-progress: #7dd430;
$declined: #ff6850;
$completed: $bright-gray;
// LAYOUT
$layoutPadding: 20px;


// Breakpoints
$mobile-breakpoint: 460px;
$tablet-breakpoint: 720px;
$desktop-breakpoint: 960px;
$wide-dekstop-breakpoint: 1400px;