.scroll-to {
  max-width: 100%;
  font-size: 16px;
  color: $header-input-gray;
  padding: 10px 0;
  border-bottom: 1px solid $header-input-gray;
  border-top: 1px solid $header-input-gray;
}

.details-container {
  width: 712px;
  margin-left: 80px;
  padding-top: 2.125rem;

  .main-details {
    width: 100%;

    .text-title {
      padding-bottom: 16px;

      h1 {
        color: #404145;
        font-size: 1.75em;
        line-height: 1.5em;
      }
    }

    h2 {
      font-size: 20px;
    }

    .seller-avatar-top {
      padding-bottom: 24px;
      .rate-details {
        width: 15px;
        p {
          color: #ffbe5b;
          padding: 0;
        }
        height: 17px;

        span {
          padding: 0;
          .half-star {
            // padding: 0;
            // margin: 0;
          }

          img {
            width: 16px;
            height: 16px;
          }
        }
      }

      //   height: 121px;
      span {
        color: $yellow;
        font-weight: 600;
        padding: 0 4px;
      }

      .seller-name-top {
        font-size: 16px;
      }

      h4 {
        font-size: 14px;
      }

      .gig-owner-image-top {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
        image-rendering: auto;
      }
    }

    .name {
      font-weight: 600;
    }

    .gig-img {
      width: 600px;
      padding-bottom: 50px;
      image-rendering: auto;
    }

    .desc {
      height: 28px;
      padding-bottom: 25px;

      .desc-list {
        margin-left: 24px;
        height: 48px;
      }
    }

    section > p {
      //   height: 240px;
      padding-bottom: 20px;
      border-bottom: 1px $footer-line-gray solid;
      padding-bottom: 44px;
    }

    .genre {
      height: 68px;
      padding-top: 20px;
      font-size: 1em;
      line-height: 24px;

      .genre-title {
        color: #95979d;
        font-size: 1em;
        line-height: 24px;

        .genre-list {
          color: #62646a;
          padding-bottom: 20px;
        }
      }
    }

    .seller {
      margin-top: 64px;

      h2 {
        height: 28px;
      }
    }

    .seller-avatar-about {
      height: 131px;
      padding-bottom: 24px;
      margin-left: 15px;
      margin-top: 25px;

      .seller-rate {
        span {
          margin-left: 15px;
          font-weight: 700;
          color: #ffbe5b;
        }
      }

      .gig-owner-image-about {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        image-resolution: 500;
      }

      .rate {
        span {
          color: $yellow;
          font-weight: 600;
          padding-left: 4px;
        }
      }

      .seller-level {
        font-size: 13px;
      }

      .seller-rate {
        // padding-top: 20px;
        justify-self: center;
      }

      .proposal {
        height: 20px;
      }

      .btn-contact {
        width: 130px;
        font-weight: 600;
        // line-height: 100%;
        padding: 12px 24px;
        position: relative;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        background-color: #ffffff;
        border: 1px solid #404145;
        margin-top: 20px;
        line-height: 20.8px;

        &:hover {
          background-color: #62646a;
          color: #ffffff;
        }
      }
    }

    .seller-desc {
      width: 662px;
      height: 259px;
      min-height: 120px;
      border: 1px solid $border-gray;
      padding: 1.5rem;

      .formal-desc {
        gap: 150px;
        border-bottom: 1px solid $border-gray;
        padding-bottom: 2rem;

        h4 {
          gap: 10px;
          color: #62646a;
          font-weight: 600;

          span.formal-title {
            color: #95979d;
            font-weight: lighter;
          }
        }
      }
    }

    .edit-dlt-buttons {
      margin-bottom: 20px;

      > * {
        margin: 5px;
        transition: 0.2s;
        font-size: 16px;
      }

      :last-child {
        color: black;
        background-color: rgb(255, 185, 185);

        &:hover {
          background-color: red;
          color: white;
        }
      }
    }
  }

  .aside {
    margin-left: 7.125em;

    .package-content {
      position: sticky;
      top: 150px;
      border: 1px solid #dadbdd;
      gap: 0;

      .levels {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 24px;
        font-weight: 800;
        padding: 16px;
        // height: 24px;
        border-bottom: 1px solid $border-gray;

        label {
          width: 104px;
          height: 24px;
        }

        .basic {
          // border-bottom: 3px solid #1dbf73;
          background-color: #fff;
          color: #1dbf73;
          text-align: center;
          // background-color: #1dbf73;
        }
      }

      .package-title {
        font-size: 24px;
        padding-bottom: 40px;
        font-weight: 800;
        font-size: 1.5em;

        h1:last-child {
          font-weight: 400;
        }
      }

      .details {
        // padding-top: 20px;
        // padding-left: 24px;
        // padding-right: 24px;
        padding: 20px 24px;

        h1 {
          font-size: 18px;
        }

        h1:last-child {
          font-size: 20px;
        }
      }

      .delivery-revision {
        margin-top: 40px;
        gap: 30px;
      }

      .clock {
        width: 1em;
        height: 1em;
      }

      .sync {
        width: 1em;
        height: 1em;
      }

      // .delivery-revision > span {
      // }

      .delivery-revision > * {
        font-size: 14px;
        align-self: center;
        gap: 5px;
        height: 24px;
      }

      .gig-inclusive {
        padding: 0;
        margin: 0 0 20px 0;
      }

      ul {
        display: grid;
        grid-template-columns: 1fr;
      }

      li {
        .done {
          margin-right: 5px;
        }
      }

      .list {
        display: flex;
        text-decoration: none;
        list-style: none;
        width: 225px;
        font-size: 14px;
        line-height: 24px;
      }

      a {
        padding: 10px 15px;
        background: $bright-green;
        color: $white;
        font-size: 16px;
      }

      a > span {
        color: $white;
        font-size: 16px;
      }
    }

    .procced-btn {
      width: 365px;
      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      line-height: 100%;
      padding-top: 38px;
      position: relative;
      text-align: center;
      text-decoration: none;
      -webkit-transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
      -o-transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
      transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
    }
  }

  .btn {
    width: 150px;
    font-weight: 600;
    // line-height: 100%;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #404145;
    margin-top: 20px;
    line-height: 20.8px;

    &:hover {
      background-color: #62646a;
      color: #ffffff;
    }
  }

  .reviews-list {
  }

  .review-container {
    // border-bottom: 1px solid #404145;

    .add-review-btn {
      width: 100%;
      text-align: center;
      width: 250px;
      height: 50px;
      background-color: #1dbf73;
      color: #ffffff;
      border: 0;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;

      textarea {
        width: 50%;
      }
    }
  }
}
